<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="currentPage='Home'">
<body style="height: 100%; width: 100%">
<div th:include="header.html"></div>
<main>
    <div class="danger" th:if="${errors != null && !errors.empty}">
        <p th:text="${errors}"></p>
        <ul th:each="error : ${errors}">
            <li th:text="${error}"></li>
        </ul>
    </div>
    <div th:if="${session.user != null}" >
        <p th:text="${'Welcome '+session.user.firstName+'!'}" style="
           margin-left: 37.5%;"
        ></p>
        <form method="post" action="/logout" style="vertical-align: middle;">
            <p>
                <input type="submit" id="logoutbutton" value="Log Out">
            </p>
        </form>
    </div>
    <div th:unless="${session.user != null}">
        <form method="post" action="/login">
            <p>
                <label for="email">Your email </label>
                <input type="text" id="email" name="email" value="jan@ucll.be">
            </p>
            <p>
                <label for="password">Your password</label>
                <input type="password" id="password" name="password" value="t">
            </p>
            <p>
                <input type="submit" id="loginbutton" value="Log in">
            </p>
        </form>
    </div>
    <article>
        <h1>Vraag 1: Hoe vond je projectweek 1?</h1>
        <div>
            <input type="text" id="aName" placeholder="Naam"/>
            <input type="text" id="aRemark" placeholder="Opmerking">
            <input type="number" min="1" max="10" id="aScore" placeholder="Score">
        </div>
        <div>
            <button type="button" id="aOpen">Open</button>
            <button type="button" id="aSend">Send</button>
            <button type="button" id="aClose">Close</button>
        </div>
        <div id="aMessages"></div>
    </article>
    <article>
        <h1>Vraag 2: Hoe vond je projectweek 2?</h1>
        <div>
            <input type="text" id="bName" placeholder="Naam"/>
            <input type="text" id="bRemark" placeholder="Opmerking">
            <input type="number" min="1" max="10" id="bScore" placeholder="Score">
        </div>
        <div>
            <button type="button" id="bOpen">Open</button>
            <button type="button" id="bSend">Send</button>
            <button type="button" id="bClose">Close</button>
        </div>
        <div id="bMessages"></div>
    </article>
    <article>
        <h1>Vraag 3: Hoe vond je web1?</h1>
        <div>
            <input type="text" id="cName" placeholder="Naam"/>
            <input type="text" id="cRemark" placeholder="Opmerking">
            <input type="number" min="1" max="10" id="cScore" placeholder="Score">
        </div>
        <div>
            <button type="button" id="cOpen">Open</button>
            <button type="button" id="cSend">Send</button>
            <button type="button" id="cClose">Close</button>
        </div>
        <div id="cMessages"></div>
    </article>
    <article>
        <h1>Vraag 4: Hoe vond je web2?</h1>
        <div>
            <input type="text" id="dName" placeholder="Naam"/>
            <input type="text" id="dRemark" placeholder="Opmerking">
            <input type="number" min="1" max="10" id="dScore" placeholder="Score">
        </div>
        <div>
            <button type="button" id="dOpen">Open</button>
            <button type="button" id="dSend">Send</button>
            <button type="button" id="dClose">Close</button>
        </div>
        <div id="dMessages"></div>
    </article>
    <article>
        <h1>Vraag 5: Hoe vond je web3?</h1>
        <div>
            <input type="text" id="eName" placeholder="Naam"/>
            <input type="text" id="eRemark" placeholder="Opmerking">
            <input type="number" min="1" max="10" id="eScore" placeholder="Score">
        </div>
        <div>
            <button type="button" id="eOpen">Open</button>
            <button type="button" id="eSend">Send</button>
            <button type="button" id="eClose">Close</button>
        </div>
        <div id="eMessages"></div>
    </article>
</main>
<script type="text/javascript" src="/js/sockets.js"></script>
<div th:include="footer.html"></div>
</body>
</html>